{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <header class="fix">
        <h1> {{ movie.title }} </h1>
    </header>

    <section id="Infos" class='fix'>
        <figure class="fl"><img src="/media/{{ movie.picture }}" alt=""></figure>

        <article class="fl">
            <p class="tit">Sinopse:</p>
            <p class="txt">
                {{ movie.resume }}
            </p>
            <p class="tit">Genero:</p>
            <p class="txt">
                {% for genre in movie.genre.all %}
                    {% if forloop.revcounter == 1 and movie.genre.all|length > 1 %}
                        e
                    {% endif %}
                        <a href="{{ genre.get_absolute_url }}">{{ genre.name }}</a>
                    {% if forloop.revcounter > 2 and movie.genre.all|length > 1 %}
                        ,
                    {% endif %}
                {% endfor %}
            </p>

            <p class="tit">Atores:</p>
            <p class="txt">
                {% for actor in movie.actor.all %}
                    {% if forloop.revcounter == 1 and movie.actor.all|length > 1 %}
                        e
                    {% endif %}
                        <a href="{{ actor.get_absolute_url }}">{{ actor.name }}</a>
                    {% if forloop.revcounter > 2 and movie.actor.all|length > 1 %}
                        ,
                    {% endif %}
                {% endfor %}
            </p>
        </article>

    </section>

    <section id="listagem" class='fix'>
        <header class="fix">
            <h2>Filmes Relacionados</h2>
        </header>

        {% include "includes/list.html" with items=related %}

    </section>

{% endblock content %}