{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <header class="fix">
        <h1> {{ movie.title }} </h1>
    </header>

    <section id="Infos" class='fix'>
        <figure class="fl"><img src="/media/{{ movie.picture }}" alt=""></figure>

        <article class="fl">
            <p class="tit">Sinopse:</p>
            <p class="txt">
                {{ movie.resume }}
            </p>
            <p class="tit">Genero:</p>
            <p class="txt">
                <a href="{{ movie.genre.get_absolute_url }}">{{ movie.genre.name }}</a>
            </p>

            <p class="tit">Atores:</p>
            <p class="txt">
                {% for actor in movie.actor.all %}
                    <a href="{{ actor.get_absolute_url }}"> {{ actor.name }} </a>
                {% endfor %}
            </p>
        </article>

    </section>

    <section id="listagem" class='fix'>
        <header class="fix">
            <h2>Filmes Relacionados</h2>
        </header>
        <ul>
            {% for movie in related %}
                <li class="fl">
                    <a href="{{ movie.get_absolute_url }}"><img src="/media/{{ movie.picture }}" alt="{{ movie.title }}"></a>
                </li>
            {% endfor %}
        </ul>
    </section>

{% endblock content %}