{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <header class="fix">
        <h1 class="fl">Listagem de filmes</h1>
        <form action="">
            <select name="" id="" class="fr">
                <option value="">Ordenar por:</option>
                <option value="/?order_by=title">a - z</option>
                <option value="/?order_by=-title">z - a</option>
            </select>
        </form>
    </header>

    <section id="listagem" class='fix'>
        <ul>
            {% for movie in object_list %}

                <li class="fl">
                    <a href="{{ movie.get_absolute_url }}"><img src="/media/{{ movie.picture }}" alt="{{ movie.title }}"></a>
                </li>

            {% endfor %}

        </ul>
    </section>

{% endblock content %}