<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Storm Security - Teste Python</title>

	<link rel="stylesheet" href="static/css/reset.css">
	<link rel="stylesheet" href="static/css/comum.css">
</head>
<body>
	<header id="header">
		<div class="content">
			<a href="index.html" class="home" title="voltar para home"></a>
		</div>
	</header>
	<main id="Content" class="fix">
		<header class="fix">
			<h1>Atores</h1>
		</header>
		
		<section id="Infos" class='fix'>
			<figure class="fl"><img src="static/img/artista1.jpg" alt=""></figure>

			<article class="fl">
				<p class="tit">Ator</p>
				<h2>Scarlett Johansson</h2>
				<p class="txt"><strong>País:</strong> Brasil</p>
				
			</article>

		</section>

		<section id="listagem" class='fix'>
			<header class="fix">
				<h2>Filmes Relacionados</h2>
			</header>
			<ul>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz1.jpg" alt=""></a></li>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz2.jpg" alt=""></a></li>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz3.jpg" alt=""></a></li>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz4.jpg" alt=""></a></li>
				<li class="fl last"><a href="interna.html"><img src="static/img/cartaz5.jpg" alt=""></a></li>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz6.jpg" alt=""></a></li>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz7.jpg" alt=""></a></li>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz8.jpg" alt=""></a></li>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz9.jpg" alt=""></a></li>
				<li class="fl last"><a href="interna.html"><img src="static/img/cartaz10.jpg" alt=""></a></li>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz11.jpg" alt=""></a></li>
			</ul>
		</section>

	</main>
	
</body>
</html>