{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Storm Security - Teste Python</title>

    <link rel="stylesheet" href="{% static "css/reset.css" %}">
    <link rel="stylesheet" href="{% static "css/comum.css" %}">
</head>
<body>
    <header id="header">
        <div class="content">
            <a href="{% url 'core:home' %}" class="home" title="voltar para home"></a>
        </div>
    </header>
    <main id="Content" class="fix">

    </main>

</body>
</html>