<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Storm Security - Teste Python - Comédia</title>

	<link rel="stylesheet" href="static/css/reset.css">
	<link rel="stylesheet" href="static/css/comum.css">
</head>
<body>
	<header id="header">
		<div class="content">
			<a href="index.html" class="home" title="voltar para home"></a>
		</div>
	</header>
	<main id="Content" class="fix">
		<header class="fix">
			<h1 class="fl">Comédia</h1>
			<form action="">
				<select name="" id="" class="fr">
					<option value="">Ordenar por:</option>
					<option value="">a - z</option>
					<option value="">z - a</option>
				</select>
			</form>
		</header>
		
		<section id="listagem" class='fix'>
			<ul>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz5.jpg" alt=""></a></li>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz7.jpg" alt=""></a></li>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz8.jpg" alt=""></a></li>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz4.jpg" alt=""></a></li>
				<li class="fl last"><a href="interna.html"><img src="static/img/cartaz3.jpg" alt=""></a></li>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz6.jpg" alt=""></a></li>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz1.jpg" alt=""></a></li>
			</ul>
		</section>

	</main>
	
</body>
</html>