<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Storm Security - Teste Python</title>

	<link rel="stylesheet" href="static/css/reset.css">
	<link rel="stylesheet" href="static/css/comum.css">
</head>
<body>
	<header id="header">
		<div class="content">
			<a href="index.html" class="home" title="voltar para home"></a>
		</div>
	</header>
	<main id="Content" class="fix">
		<header class="fix">
			<h1>Nome do filme</h1>
		</header>
		
		<section id="Infos" class='fix'>
			<figure class="fl"><img src="static/img/cartaz1-interna.jpg" alt=""></figure>

			<article class="fl">
				<p class="tit">Sinopse:</p>
				<p class="txt">A agente especial do FBI Sarah Ashburn (Sandra Bullock) e a policial Shannon Mullins (Melissa McCarthy) não podiam ser mais imcompatíveis. Quando precisam juntar forças para trazer um perigoso traficante de drogas, elas se tornarão algo que ninguém esperava: amigas.</p>
				<p class="tit">Genero:</p>
				<p class="txt"><a href="genero.html">Comédia</a> e <a href="genero.html">Ação</a>.</p>

				<p class="tit">Atores:</p>
				<p class="txt"><a href="artista.html">Marlon Wayans</a>, <a href="artista.html">Melissa McCarthy</a> e <a href="artista.html">Sandra Bullock</a>.</p>
			</article>

		</section>

		<section id="listagem" class='fix'>
			<header class="fix">
				<h2>Filmes Relacionados</h2>
			</header>
			<ul>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz2.jpg" alt=""></a></li>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz3.jpg" alt=""></a></li>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz4.jpg" alt=""></a></li>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz5.jpg" alt=""></a></li>
				<li class="fl last"><a href="interna.html"><img src="static/img/cartaz6.jpg" alt=""></a></li>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz7.jpg" alt=""></a></li>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz8.jpg" alt=""></a></li>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz9.jpg" alt=""></a></li>
				<li class="fl"><a href="interna.html"><img src="static/img/cartaz10.jpg" alt=""></a></li>
				<li class="fl last"><a href="interna.html"><img src="static/img/cartaz11.jpg" alt=""></a></li>
			</ul>
		</section>

	</main>
	
</body>
</html>